@model IEnumerable<Northwind.Web.Models.OrderViewModel>
@{
    ViewBag.Title = "All orders, chronologically arranged";
}

<h2>All orders, arranged chronologically</h2>

<br />
<div class="container">
    <div class="bs-component col-md-10 col-md-offset-1">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th class="text-center">Order date</th>
                    <th class="text-center">Ship destination</th>
                    <th class="text-center">Employee</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var order in this.Model)
                {
                    <tr>
                        <td class="text-center">@order.OrderDate</td>
                        <td class="text-center">@order.ShipCity, @order.ShipCountry</td>
                        <td class="text-center">@order.EmployeeFirstName @order.EmployeeLastName</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

